
p {
    color: black;
    text-align:center;
}

adress {
    color: black;
    text-align: center;
}

.modal {
    position: absolute;
    left: 400px;
    top: 100px;
    z-index: 3;
    width: 50%;
    height: 60%;
    overflow:auto;
    background-color: rgba(30,88,138,0.2);
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 90%;
    height: 90%;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modallist {
    color:black;
    text-align:left;
}

/*css navbar*/

ul {
    list-style-type: none;
    margin-top: -40px;
    padding: 0;
    overflow: hidden;
    background-color: #2668A2;
}

li {
    float: left;
    text-decoration: none;
}

li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0C0C25;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #2b2727;
   text-align: center;
   padding-bottom: 30px;
}