
p {
    color: black;
    text-align:center;
}

adress {
    color: black;
    text-align: center;
}

.modal {
    position: absolute;
    left: 350px;
    top: 85px;
    z-index: 3;
    width: 50%;
    height: 60%;
    overflow:auto;
    background-color: rgba(30,88,138,0.2);
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    position:absolute;
    left:40px;
    top:20px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modallist {
    color:black;
    text-align:left;
}

/*css navbar*/

ul {
    list-style-type: none;
    margin-top: 0px;
    padding-left: 15px;
    overflow: hidden;
    background-color: #1E588A;
    height: 40px;
    color:white;
    font-size:20px;
    text-align:center;
}

li {
    float: left;
    text-decoration: none;
    display:block;
    padding:5px;
}
    li:hover {
        background-color: #4C91CD;
    }

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #2b2727;
   text-align: center;
   padding-bottom: 30px;
}