p {
    color: black;
    text-align:center;
}

adress {
    color: black;
    text-align: center;
}

.modal {
    position: absolute;
    left: 350px;
    top: 85px;
    z-index: 3;
    width: 50%;
    height: 60%;
    overflow:auto;
    background-color: rgba(30,88,138,0.2);
}

.modal-content {
    background-color: whitesmoke;
    line-height: 25px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
}

.close {
    color: black;
    font-size: 28px;
    position:absolute;
        top: 80%;
        left: 80%;
    font-weight: bold;
    text-decoration:underline;
}

    .close:focus {
        color: gray;
        text-decoration: none;
        cursor: pointer;
    }

.modallist {
    display:block;
    color:black;
    font-size: 16px;
    padding-top: 5%;
    padding-left: 15%;
    text-align:left;
    font-weight:bold;
    font-style:oblique;
}

ul {
    list-style-type: none;
    padding-left: 15px;
    overflow: hidden;
    background-color: #1E588A;
    height: 60px;
    color: white;
    font-size: 30px;
    text-align: left;
    display:block;
}

li {
    text-decoration: none;
    padding:5px;
    display:inline-block;
}
    li:hover {
        background-color: #4C91CD;
    }

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #2b2727;
   text-align: center;
   padding-bottom: 30px;
}

.button {
    color: white;
    font-size: 18px;
    background-color: rgba(30,88,138,0.75);
    height: 35px;
    width: 125px;
}
    .button:hover {
        background-color: #4C91CD;
        font-weight:bold;
    }

 td {
        padding:10px;
    }
 .back{
        padding:10px;
    }
.jumbotron {
    padding-top: 50px;
    padding-bottom:200px;
}
.element {
    overflow:hidden; 
    text-overflow:ellipsis;
}
