@{
    ViewBag.Title = "About";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="jumbotron">
    <h2>About the application</h2>
    <br/>
    <p style="font-size: 20px;">The purpose of this application is to provide professionals with basic Definition of Done criterias,
        and allow them to customize, or simply use these basic criterias while creating their own Definition of Done.
        <br/>
        The idea came from our teachers in the Poznan University of Technology, Ms. Sylwia Kopczyńska and Mr.Mirosław Ochodek.
        <br/>
        The superviser of our group is Hafiz Hamza Ahmad Janjooa senior student.
    </p>
</div>