@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="jumbotron">
    <h2>Ways to contact us:</h2>
    <br />

    <address>
        ul. Piotrowo (Berdychowo)<br />
        61-138 Poznań<br />
        <abbr title="Phone">Phone:</abbr>
        +48 123 45 67
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@sds2project.com">Support@sds2project.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@sds2project.com">Marketing@sds2project.com</a>
    </address>
</div>
