@{
    ViewBag.Title = "DoDList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Site.css" type="text/css">
<script src="~/Scripts/Logic.js"></script> 
  <form id="form1" style="background-color: #F5F5F5">
      
      <div id="myModalM" class="modal">
          <div class="modal-content">
              <span class="close" id="rad"> Accept </span>
              <p class="modallist">
                  <span id="OptionsArea">
                      <!--Textboxes will be added here -->

                  </span>
              </p>
          </div>
      </div>

         
      <table align="center">
              <caption>
                  <h2>DoD Maker</h2>
              </caption>
              <tr>
                  <th>Basic DoDs</th>
                  <th></th>
                  <th> My DoDs</th>
              </tr>
              <tr>
                  <td>
                      <select id="ListBox1" class="list" style="height:340px ; width: 400px" size="6" ondrop="dropDelete(event)" ondragover="allowDrop(event)">
                          @{
                              int i = 0;
                              foreach (var elem in ViewBag.Example)
                              {
                                  <option id="@i" draggable="true" ondragstart="drag(event)"> @elem.DODTemplate  </option>
                                  i++;
                              }
                          }
                      </select>
                  </td>
                  <td style="width:118px;">
                      <input type="button" id="copyItem" value="Select" onclick="copyOnClick(event)" />
                      <input type="button" id="copyItem" value="Remove" onclick="removeOnClick()" />
                  </td>

                  <td>
                      <select id="ListBox2" class="list" style="height:340px ; width: 400px" size="6" ondrop="dropCopy(event)" ondragover="allowDrop(event)" />
                  </td>
              </tr>
          </table>
      <input type="button" id="save" value="Save Dod's" onclick="saveOnClick()" />
</form>
