
@{
    ViewBag.Title = "DoDList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <form id="form1" style="background-color:wheat">
    <script>
        var exists = [] ;
        function allowDrop(ev)
        {
             ev.preventDefault();
         }

        function drag(ev)
        {
             ev.dataTransfer.setData("text", ev.target.id);
         }

        function dropDelete(ev) {
            ev.preventDefault();
            var x = ev.dataTransfer.getData("text");
            var index = exists.indexOf(x);
            exists.splice(index, 1);
            var el = document.getElementById(x);
            el.parentNode.removeChild(el);

        }

        function dropCopy(ev) {
            ev.preventDefault();
            var x = ev.dataTransfer.getData("text");
            if (exists.includes(x)) {
                alert("You already added this template!"); 
            }
            else { 
                var nodeCopy = document.getElementById(x).cloneNode(true);
                nodeCopy.id = "newId";
                exists.push(x);
                ev.target.appendChild(nodeCopy);
            }

            //ev.preventDefault();
            //var data = ev.dataTransfer.getData("text");
            //var nodeCopy = document.getElementById(data).cloneNode(true);
            //nodeCopy.id = "newId";
            //ev.target.appendChild(nodeCopy);
        }

        function copyOnClick() {
            var x = document.getElementById("ListBox1").selectedIndex;
            var nodeCopy = document.getElementById(x).cloneNode(true);
            nodeCopy.id = x;
            document.getElementById("ListBox2").appendChild(nodeCopy);
        }

        function removeOnClick() {
            var x = document.getElementById("ListBox2");
            x.remove(x.selectedIndex);
            //var y = douc
            //var el = document.getElementById(x);
            //el.parentNode.removeChild(el);
        }

     </script>
      <table align="center">
          <caption>
              <h2>DoD Template List</h2>
              <p> You can drag and drop the DoD templates you would like to have in your own list.
                    Drop them back, if they are not needed. </p>
          </caption>

        <tr>
            <th>Basic DoD templates</th>
            <th></th>
            <th> My DoD templates </th>
        </tr>
        <tr>
            <td>
                <select id="ListBox1" style="height:358px ; width: 233px" size="6" ondrop="dropDelete(event)" ondragover="allowDrop(event)">
                @{
                    int i = 0;
                    foreach (var elem in ViewBag.Example)
                    {
                        <option id="@i" draggable="true" ondragstart="drag(event)"> @elem  </option>
                        i++;
                    }
                }
                 </select>
            </td>
            <td style="width:118px;">
                <input type="button"  id="copyItem" value="Select" onclick="copyOnClick()"/> 
                <input type="button"  id="copyItem" value="Remove" onclick="removeOnClick()" />
            </td>

            <td>
                <select id="ListBox2" style="height:358px ; width: 233px" size="6" ondrop="dropCopy(event)" ondragover="allowDrop(event)"/>
            </td>
        </tr>
   </table>
 </form>








