<link rel="stylesheet" href="~/Content/Site.css" type="text/css">

@{
    ViewBag.Title = "DoDList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <form id="form1" style="background-color: #F5F5F5">
    <script>
        var exists = [] ;
        function allowDrop(ev)
        {
             ev.preventDefault();
         }

        function drag(ev)
        {
             ev.dataTransfer.setData("text", ev.target.id);
         }

        function dropDelete(ev) {
            ev.preventDefault();
            var x = ev.dataTransfer.getData("text");
            var index = exists.indexOf(x);
            exists.splice(index, 1);
            var el = document.getElementById(x);
            el.parentNode.removeChild(el);

        }

        function param(ev, nodeCopy) {
            var modal = document.getElementById('myModalP');
            var span = document.getElementById('par');
            modal.style.display = "block";
            span.onclick = function () {
                modal.style.display = "none";
                ev.target.appendChild(nodeCopy);
            }
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function rad(ev, nodeCopy) {
            var modal = document.getElementById('myModalM');
            var span = document.getElementById('rad');
            modal.style.display = "block";
            span.onclick = function () {
                modal.style.display = "none";
                ev.target.appendChild(nodeCopy);
            }
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function opt(ev, nodeCopy) {
            var modal = document.getElementById('myModalO');
            var span = document.getElementById('opt');
            modal.style.display = "block";
            span.onclick = function () {
                modal.style.display = "none";
                ev.target.appendChild(nodeCopy);
            }
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function dropCopy(ev) {
            ev.preventDefault();
            var x = ev.dataTransfer.getData("text");
            if (exists.includes(x)) {
                alert("You already added this template!"); 
            }
            else {
                var nodeCopy = document.getElementById(x).cloneNode(true);
                nodeCopy.id = "newId";
                exists.push(x);
                if (nodeCopy.textContent.endsWith('<parameter>', nodeCopy.textContent.length - 2)) {
                    param(ev, nodeCopy);
                }
                else
                    if (nodeCopy.textContent.endsWith('(multiplechoice)', nodeCopy.textContent.length - 2)) {
                        rad(ev, nodeCopy);
                    }
                    else
                        if (nodeCopy.textContent.endsWith('[option]', nodeCopy.textContent.length - 2)) {
                            opt(ev, nodeCopy);
                        }
                        else {
                            ev.target.appendChild(nodeCopy);
                        }
            }
        }

        function copyOnClick() {
            var x = document.getElementById("ListBox1").selectedIndex;
            var nodeCopy = document.getElementById(x).cloneNode(true);
            nodeCopy.id = x;
            document.getElementById("ListBox2").appendChild(nodeCopy);
        }

        function removeOnClick() {
            var x = document.getElementById("ListBox2");
            x.remove(x.selectedIndex);
        }

     </script>

      <div id="myModalP" class="modal">
      <div class="modal-content">
          <span class="close" id="par"> Accept </span>
          <p>
              Add the parameter:  <input type="text" id="param" />
          </p>
      </div>
      </div>

      <div id="myModalM" class="modal">
          <div class="modal-content">
              <span class="close" id="rad"> Accept </span>
              <p>
                  Choose on option:  <input type="radio" id="rad" name="ch" /> option 1
                  <input type="radio" id="rad" name="ch" /> option 2
                  <input type="radio" id="rad" name="ch" /> option 3
              </p>
          </div>
      </div>

      <div id="myModalO" class="modal">
          <div class="modal-content" id="opt">
              <span class="close"> Accept </span>
              <p>
                  Do you want this feature or not? :  <input type="checkbox" id="check" /> Feature
              </p>
          </div>
      </div>

      <table align="center">
          <caption>
              <h2>DoD Template List</h2>
              
          </caption>

        <tr>
            <th>Basic DoD templates</th>
            <th></th>
            <th> My DoD templates </th>
        </tr>
        <tr>
            <td>
                <select id="ListBox1" class="list" style="height:340px ; width: 300px" size="6" ondrop="dropDelete(event)" ondragover="allowDrop(event)">
                @{
                    int i = 0;
                    foreach (var elem in ViewBag.Example)
                    {
                        <option id="@i" draggable="true" ondragstart="drag(event)"> @elem  </option>
                        i++;
                    }
                }
                 </select>
            </td>
            <td style="width:118px;">
                <input type="button" id="copyItem" value="Select" onclick="copyOnClick()" /> 
                <input type="button" id="copyItem" value="Remove" onclick="removeOnClick()" />      
            </td>

            <td>
                <select id="ListBox2" class="list" style="height:340px ; width: 300px" size="6" ondrop="dropCopy(event)" ondragover="allowDrop(event)"/>
            </td>
        </tr>
   </table>
 </form>








