
@{
    ViewBag.Title = "Help";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="jumbotron">
    <h2>Help</h2> <br />
    <h3>How to use the application?</h3>
    <p>
        You can drag and drop the DoDs you would like to have in your own list. <br/>
        Add the neccessary parameters to customize your DoD.<br/>
        Drop them back, if they are not needed.<br/>
    </p>
</div>
