
@{
    ViewBag.Title = "Help";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="jumbotron">
    <h2>Help</h2> <br />
    <p>
        Left click and then drag the DoD to your own list, and drop it. <br/>
        Add the neccessary parameters to customize your DoD.<br/>
        Drop them back, if they are not needed anymore.<br/>
    </p>
</div>
