@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DoD Maker </h1>
    <br/>
    <button type="button" style="height:80px;width:220px;font-size:20px;" class="btn btn-primary" onclick="location.href='@Url.Action("DoDList", "Home")'">Create DOD As Guest</button>
    <br />
</div>
