@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DoD Maker - Hamza's group</h1>
    <br/>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("DoDList", "Home")'">Create DOD As Guest</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
    <br />
    <p class="lead">This application is the product of the Software Development Studio 2 project supervised by Hafiz Hamza Ahmad Janjooa. </p> <br/>
</div>
